a {
	color: #14A1C0;
	text-decoration: none;
	font-family: 'Google Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.MuiTooltip-arrow {
	color: black!important;
}

.MuiTooltip-tooltip {
	font-family: 'Open Sans'!important;
	font-style: normal;
	font-weight: 400!important;
	font-size: 16px!important;
	line-height: 20px!important;
	padding-right: 16px!important;
	padding-left: 16px!important;

	/* or 125% */
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF!important;

	background-color: black!important;
}

li.MuiMenuItem-root {
		text-transform: capitalize !important;
	}
